*{
  margin:0;
  padding:0;
}
html,body,.items{
  width:100%;
  height:100%;
}
.items, .row{
  display:flex;
  align-items:center;
  justify-content: center;
}

#gameID {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
  border: 10px solid #fff;
  border-radius:25px; 
}

.swal-modal {
  font-family: 'Montserrat', sans-serif;
}


